<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Giriş Yap</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
   
    <!-- Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">

        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                        </div>
                        <!-- Giriş Formu -->
                        <form action="/user/login" method="POST">
                            <!-- Kullanıcı Adı -->
                            <div class="form-floating mb-3">
                                <input type="text" name="username" class="form-control" id="username" placeholder="Kullanıcı Adı" required>
                                <label for="floatingUsername">Kullanıcı Adı</label>
                            </div>
                            <!-- Şifre -->
                            <div class="form-floating mb-4">
                                <input type="password" name="password" class="form-control" id="password" placeholder="Şifre" required>
                                <label for="floatingPassword">Şifre</label>
                            </div>
                            <% if (error) { %>
                                <p style="color: red; text-align: center;"><%= error %></p>
                            <% } %>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Giriş Yap</button>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>
